.container{
    display: flex;
    flex-wrap: wrap;
}
.holder{
    height: 100px;
    width: 150px;
    background-color: green;
    color: aliceblue;
    border: 2px solid black;
    text-align: center;
}
/* Your CSS Code here. */